<div class='panel panel-primary'>
        <div class='panel-heading'>
            {{pageTitle}}
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <table class='table' *ngIf='labTests && labTests.length'>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor='let labTest of labTests'>
                             <td>{{ labTest[8] }}</td>
                             <td>{{ labTest[0] }}</td>
                             <td>{{ labTest[5] == 0 ? 'New' : labTest[5] == 1 ? 'Accepted' : 'Completed'}}</td>
                             <td><button id="Accept" (click)="acceptLabTest(labTest[8])" class="btn btn-primary">{{labTest[5] == 0 ? 'Accept' : labTest[5] == 1 ? 'Complete' : 'Unknown'}}</button></td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf='errorMessage' class='alert alert-danger'>
        Error: {{ errorMessage }}
    </div>
