<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='customers && customers.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Post Code</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let customer of customers'>
                            <td><a [routerLink]="['/medicaltests', customer.customerId]">
                                {{ customer.customerName }}
                            </a>
						</td>
                        <td>{{ customer.customerName }}</td>
                        <td>{{ customer.customerPostCode }}</td>
                        <td>{{ customer.customerState }}</td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>