<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='medicalTests && medicalTests.length'>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let medicalTest of medicalTests'>
                        <td>{{ medicalTest.testId }}</td>
                        <td>{{ medicalTest.testName }}</td>
                        <td>{{ medicalTest.testStatus }}</td>
                        <td><app-healthereum-market></app-healthereum-market></td>
                     </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>
